<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-7">
        <ul class="list-style-none">
          <li>&copy; {{ site.title }} 2016</li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul class="list-style-none">
          <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a class="pl-sm" href="mailto:info@emmamayphotography.com">info@emmamayphotography.com</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <ul class="list-style-none">
          <li><i class="fa fa-phone" aria-hidden="true"></i><a class="pl-sm" href="tel: 07902601472"> 07902601472</a></li>
        </ul>
      </div>
    </div>

  </div>
  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/assets/js/scripts.js"></script>
</footer>
