<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <ul class="list-style-none">
          <li>&copy; {{ site.title }} 2016</li>
        </ul>
      </div>
      <div class="col-md-4 col-sm-12">
        <ul class="list-style-none">
          <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a class="pl-sm" href="mailto:info@emmamayphotography.com">info@emmamayphotography.com</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-12">
        <ul class="list-style-none">
          <li><i class="fa fa-phone" aria-hidden="true"></i><a class="pl-sm" href="tel: 07902601472"> 07902601472</a></li>
        </ul>
      </div>
    </div>

  </div>
  <script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="/libs/fancyBox/source/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="/assets/js/scripts.js"></script>
</footer>
