.button-sm {
  padding: 10px 20px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 300;
}

.button-lg {
  padding: 15px 30px;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 20px;
}

.btn-white {
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
  border: 1px solid $white;
  color: $white;
  transition: 0.5s ease all;
  a {
    color: inherit;
    &:hover {
      color: $grey-dark;
      text-decoration: none;
    }
  }
  &:hover {
    background: $white;
    text-shadow: none;
  }
}

.btn-black {
  border: 1px solid $grey-dark;
  color: $grey-dark;
  transition: 0.5s ease all;
  a {
    color: inherit;
    &:hover {
      color: $white;
      text-decoration: none;
    }
  }
  &:hover {
    background: $grey-dark;
  }
}

.btn-center {
  margin: 0 auto;
  display: block;
  top: 75%;
  position: relative;
}