.dropdown {
  position: relative;
  display: inline-block;
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: $white;
    color: $grey-dark;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px 15px;
    text-align: left;
    z-index: 10;
    a {
      color: black;
      padding: 15px 16px;
      text-decoration: none;
      display: block;
      height: 100%;
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

/**
 * Alternate Site header
 */
header.header-alternate {
  min-height: 56px;
  z-index: 10;
  padding: 30px 0px;
  text-align: center;
  top: 0;
  .site-nav {
    float: right;
    line-height: 56px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      @include media-query($on-palm) {
        display: block;
      }
      li {
        // Gaps between nav items, but not on the last one
        padding-right: 20px;
        display: inline-block;
        @include media-query($on-palm) {
          display: block;
        }
      }
    }
    .menu-icon {
      display: none;
    }

    .page-link {
      color: $white;
      line-height: $base-line-height;
      text-transform: uppercase;
      letter-spacing: 2px;
      @include media-query($on-palm) {
        color: $grey-dark;
      }
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    @include media-query($on-palm) {
      position: absolute;
      padding-bottom: 8px;
      right: $spacing-unit / 2;
      background-color: #fdfdfd;
      border: 1px solid $grey-light;
      border-radius: 5px;
      text-align: right;

      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;

        > svg {
          width: 18px;
          height: 15px;

          path {
            fill: $grey-dark;
          }
        }
      }

      .trigger {
        clear: both;
        display: none;
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
      }

      &:hover .trigger {
        display: block;
        padding: 10px 0px 5px 0px;
      }

      .page-link {
        display: block;
        padding: 5px 10px;
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;

  &,
  &:visited {
    color: $grey-dark;
  }
}

/**
 * Site header
 */
header.site-header {
  .logo {
    min-height: 40px;
  }
  z-index: 10;
  padding: 30px 0px;
  text-align: center;
  top: 0;
  background-color: $white;
  border-bottom: 1px $grey solid;
  .site-nav {
    float: right;
    line-height: 56px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: inline-block;
      @include media-query($on-palm) {
        display: block;
      }
      li {
        // Gaps between nav items, but not on the last one
        padding-right: 20px;
        display: inline-block;
        @include media-query($on-palm) {
          display: block;
        }
      }
    }
    .menu-icon {
      display: none;
    }

    .page-link {
      color: $grey-dark;
      line-height: $base-line-height;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      @include media-query($on-palm) {
        color: $grey-dark;
      }
    }

    @include media-query($on-palm) {
      position: absolute;
      padding-bottom: 8px;
      right: $spacing-unit / 2;
      background-color: #fdfdfd;
      border: 1px solid $grey-light;
      border-radius: 5px;
      text-align: right;

      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;

        > svg {
          width: 18px;
          height: 15px;

          path {
            fill: $grey-dark;
          }
        }
      }

      .trigger {
        clear: both;
        display: none;
      }

      &:hover .trigger {
        display: block;
        padding: 10px 0px 5px 0px;
      }

      .page-link {
        display: block;
        padding: 5px 10px;
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }
}

.site-title {
  float: left;
  .logo {
    height: 65px;
  }
}

.active {
  color: red;
}