section {
  padding: 50px 0px;
}

// Sections
.grey-bg {
  background-color: $grey-light;
}

/**
 * Site footer
 */
footer {
  padding: 45px 0px 30px 0px;
  width: 100%;
  background: $grey-dark;
  color: $white;
  font-size: 16px;
  a {
    text-decoration: none;
    color: $white;
    &:hover {
      color: $white;
    }
  }
}


/**
 * Page content
 */

 article.post {
  border-bottom: 1px solid darken($grey, 15%);
  margin-bottom: 40px;
}
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  font-size: 20px;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey;
}

.post-link {
  display: block;
  font-size: 24px;
}

.list-style-none {
  list-style: none;
  margin-left: 0;
}

.pl-sm {
  padding-left: 10px;
}

.pt-md {
  padding-top: 25px;
}

.pb-md {
  padding-bottom: 30px;
}

/**
 * Posts
 */

.sidebar-container {
  padding: 25px;
  background-color: $white;
  border: 1px solid $grey;
  width: 100%;
  margin: 25px 0px;
  i, a {
    font-size: 16px;
  }
}

.post-header {
  margin-bottom: $spacing-unit;
  border-bottom: 1px solid darken($grey, 15%);
}

.post-meta {
  font-weight: bold;
  &:before {
     font-family: FontAwesome;
     content: "\f133";
     display: inline-block;
     padding-right: 10px;
     vertical-align: middle;
  }
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
        font-size: 18px;
    }
  }
}