h2 {
  font-size: 40px;
  font-family: $open-sans;
}

p {
  font-size: 16px;
  font-family: $open-sans;
}

.script-header {
  color: $brand;
  font-family: 'halohandletterregular';
  font-size: 70px;
}

.text-on-image {
  left: 0;
  position: absolute;
  text-align: center;
  top: 200px;
  width: 100%;
  font-family: $open-sans;
}

//Webfonts
@font-face {
  font-family: "halohandletterregular";
  src: url('/assets/fonts/halohandletter-webfont.woff2') format('woff2'),
       url('/assets/fonts/halohandletter-webfont.woff') format('woff'),
       url('/assets/fonts/halohandletter-webfont.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:  url("/bower_components/open-sans-fontface/fonts/Regular/OpenSans-Regular.eot");
  src:  url("/bower_components/open-sans-fontface/fonts/Regular/OpenSans-Regular.eot") format("embedded-opentype"), 
        url("/bower_components/open-sans-fontface/fonts/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), 
        url("/bower_components/open-sans-fontface/fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), 
        url("/bower_components/open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), 
        url("/bower_components/open-sans-fontface/fonts/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: 300;
  font-style: normal; 
}