h2 {
  font-size: 40px;
  font-family: $open-sans;
  margin-top: 0px !important;
}

p {
  font-size: 16px;
  font-family: $open-sans;
}

.markdown {
  h1 {
    font-family: 'halohandletterregular';
    font-size: 80px;
    color: $brand;
  }
  h2 {
    font-family: $open-sans;
    font-size: 30px;
    color: $grey-dark;
  }
  h3 {
    font-family: $open-sans;
    font-size: 20px;
    color: $brand;
    text-transform: uppercase;
    font-weight: bold;
  }
  p, li {
    color: $grey-dark;
    font-family: $open-sans;
    font-size: 16px;
  }
  a {
    color: $brand;
    &:hover {
      color: darken($brand, 10%);
    }
  }
}

.script-header {
  font-family: 'halohandletterregular';
  font-size: 90px;
}

.brand-color {
  color: $brand;
}

.white-color {
  color: $white;
}

.uppercase-header {
  font-family: $open-sans;
  font-size: 50px;
  text-transform: uppercase;
}

.text-on-image-hero {
  left: 0;
  position: absolute;
  text-align: center;
  top: 300px;
  width: 100%;
  font-family: $open-sans;
}

.text-on-image {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  font-family: $open-sans;
  top: 37%;
  z-index: 20;
}

//Webfonts
@font-face {
  font-family: "halohandletterregular";
  src: url('/assets/fonts/halohandletter-webfont.woff2') format('woff2'),
       url('/assets/fonts/halohandletter-webfont.woff') format('woff'),
       url('/assets/fonts/halohandletter-webfont.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src:  url("/libs/open-sans-fontface/fonts/Regular/OpenSans-Regular.eot");
  src:  url("/libs/open-sans-fontface/fonts/Regular/OpenSans-Regular.eot") format("embedded-opentype"), 
        url("/libs/open-sans-fontface/fonts/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), 
        url("/libs/open-sans-fontface/fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), 
        url("/libs/open-sans-fontface/fonts/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), 
        url("/libs/open-sans-fontface/fonts/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: 300;
  font-style: normal; 
}